<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentdiary">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".context.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity2"></activity>
        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.MenuActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.AddFacultyActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.AddStudentActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.ViewFacultyActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.ViewStudentActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.TestActivity2"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.ViewStudentByBranchYear"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.AddAttandanceSessionActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.AddAttendanceActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.ViewAttendanceByFacultyActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.ViewAttendancePerStudentActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".MainActivity"
            android:label="Student diary"></activity>
    </application>

</manifest>